<form action="/register" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email">
    </div>
    <div>
        <label for="name">Nome</label>
        <input type="text" name="name">
    </div>
    <div>
        <label for="password">Senha</label>
        <input type="password" name="password">
    </div>
    <div>
        <label for="password2">Senha novamente</label>
        <input type="password" name="password2">
    </div>
    <button>Sign Up</button>
</form>

<a href="/login">Login</a>